@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

html {
    color: #FFF;
    background: url("images/background.jpg") no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}

#title {
    font-family: 'Fredoka One', cursive;
    font-size: 8rem;
    text-align: center;

    font-weight: 700;
    letter-spacing: 5px;
    color: #fcedd8;

    text-shadow: 5px 5px 0px #eb452b, 
                10px 10px 0px #efa032, 
                15px 15px 0px #46b59b, 
                20px 20px 0px #017e7f, 
                25px 25px 0px #052939, 
                30px 30px 0px #c11a2b;
}

#instruction {
    font-size: 4rem;
    text-align: center;
    margin-top: 40px;
}

#subjectBtns {
    padding: 120px 400px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#subjectBtns button {
    font-size: 3rem;
    cursor: pointer;
    background-color: #ff9c77;
    padding: 10px 5px;
    border-radius: 5px;
    color: white;
    border:solid white 2px;
    opacity: 0.8;

    box-shadow: 0 0 0 5px #ff9c77,
    inset 0 0 0 1px #fff;
    transition: 1s ;
    
}

#subjectBtns button:hover {
    opacity: 1;
    transform: scale(1.5, 1.5);
}


@media screen and (max-width: 960px) {
    #title {
        font-size: 5rem;
    }

    #instruction {
        font-size: 2rem;
    }

    #subjectBtns {
        padding: 0;
        margin-top: 50px;
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;
    }

    #subjectBtns button {
        margin: 10px 0px 10px 0px;
    }

    #subjectBtns button:hover {
        transform: scale(1.2, 1.2);
    }
}
