@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Noto+Sans+JP&display=swap');


html {
    color: #FFF;
    overflow: hidden;
}

body {
    margin: 0;
    background: url("images/background.jpg") no-repeat center center fixed;
    background-position: 0px 30px;
    background-size: cover;
    background-color: #75bbff;
}

.topnav {
    overflow: hidden;
    background-color: #4499fa;
    padding: 25px 10px;
}

.linksContainer {
    float: right;
}

.topnav a {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    margin: 8px 80px 0px 0px;
    text-decoration: none;
    transition: all 0.3s ease;
}


.topnav a:hover {
    color: #ff723e;
    transition: all 0.3s ease;
}


.topnav #logo {
    position: absolute;
    left: 10px;
    top: 20px;
    padding-bottom: 0px;
    margin-bottom: -15px;
    float:right;
}

.topnav img {
    width: 250px;
}

.topnav .lastLink {
     margin-right: 13px; 
}


#title {
    font-family: 'Fredoka One', cursive;
    font-size: 7rem;
    text-align: center;
    top: -90px;
    font-weight: 700;
    letter-spacing: 5px;
    color: #fcedd8;

    text-shadow: 5px 5px 0px #eb452b, 
                10px 10px 0px #efa032, 
                15px 15px 0px #46b59b, 
                20px 20px 0px #017e7f, 
                25px 25px 0px #052939, 
                30px 30px 0px #c11a2b;
}

#instruction {
    font-size: 4rem;
    text-align: center;
    margin-top: 40px;
}

#subjectBtns {
    padding: 85px 400px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#subjectBtns button {
    font-size: 3rem;
    cursor: pointer;
    background-color: #ff9c77;
    padding: 10px 5px;
    border-radius: 5px;
    color: white;
    border:solid white 2px;
    opacity: 0.8;
    box-shadow: 0 0 0 5px #ff9c77,
    inset 0 0 0 1px #fff;
    transition: 1s;
}

#subjectBtns button:hover {
    opacity: 1;
    transform: scale(1.5, 1.5);
}

.topnav a.icon {
    display: none;
}

@media screen and (max-width: 960px) {
    #title {
        font-size: 5rem;
    }

    #instruction {
        font-size: 2rem;
    }

    #subjectBtns {
        padding: 0;
        margin-top: 50px;
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;
    }

    #subjectBtns button {
        margin: 10px 0px 10px 0px;
    }

    #subjectBtns button:hover {
        transform: scale(1.2, 1.2);
    }

    .topnav #logo img {
        width: 200px;
        margin-right: 0px;
    }

    .topnav a {
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.3rem;
        margin: 5px 70px 0px 0px;
        text-decoration: none;
        transition: all 0.3s ease;
    }
}

@media screen and (max-width: 800px) {
    .linksContainer a {
        display:none;
    }

    .topnav a.icon {
        float:right;
        display: block; 
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        font-size: 2rem;
        right: 10px;
        top: 35px;
        
    }

    .topnav.responsive #logo img {
        width: 420px;
        display: flex;

    }

    .topnav.responsive .linksContainer {
        position: relative;
        width: 65%;
        margin: 0 auto;
        margin-top: 50px;
    }

    .topnav.responsive .linksContainer a {
        display: block;
        margin: 50px 0 100px 0;
        font-size: 3rem;
    }
}


@media screen and (max-width: 1310px) {
    #subjectBtns {
        padding: 0;
        margin-top: 50px;
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;
    }

    #subjectBtns button {
        margin: 10px 0px 10px 0px;
    }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    width: 100%;
    height: 30px;
}

.footer p {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 7px;
}


/* ----------------------------------- Maths ---------------------------------- */
#title-math {
    font-size: 5em;
    display: flex;
    justify-content: center;
    white-space:nowrap;
    margin-bottom: 50px;
}

.boxes {
    display: flex;
    width: 100%;
}

.progress {
    border: 5px solid#eb911d;
    border-right: none;
    position: relative;
}

.progress-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #9380fc;
    opacity: 0.57;
    transform: scaleX(0);
    transform-origin: center left;
    transition: 0.4s ease-out;
}

.box {
    height: 40px;
    border-right: 5px solid #eb911d;
    flex: 1;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.62);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* opacity: 0; */
    visibility: hidden;
    transition: all 0.33s ease-out;
    transform: scale(1.2);
}

body.overlay-is-open .overlay {
    /* opacity: 1; */
    visibility: visible;
    transform: scale(1);
}

body.overlay-is-open .main-ui {
    filter: blur(4px);
}

@keyframes zoomInOut {
    50% {
        color: red;
        transform: scale(1.2);
    }

    100% {
        color: black;
        transform: scale(1);
    }
}

.animateWrong {
    animation: 0.33s zoomInOut;
}

.problem {
    text-align: center;
    font-size: 8rem;
    margin-bottom: 20px;
    color: #9380fc;
    margin-top: 0;
}

#entry-form {
   display: flex;
   justify-content: center;
   align-self: flex-start;
   margin-bottom: 50px;
}

.entry-field {
    font-size: 2rem;
    width: 275px;
}

.main-ui #info {
    font-size: 1.75rem;
    text-align: center;
    margin-bottom: 10px;
    color: #9380fc;
}

.overlay.inner {
    font-family: 'Acme', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: -50px; 
}

.overlay .endMsg {
    font-size: 2.5rem;
    font-weight: 900;
    white-space: nowrap;
    color: #4499fa;
}

.resetButton {
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
    border-radius: 10px;
    cursor: pointer;
    background-color: #6cccf8;
    color: white;
    padding: 5px 10px;
    border: none;
}

.resetButton:hover {
    background-color: #39b9f5;
}

@media screen and (max-width: 600px) {
    #title-math {
        font-size: 4em;
    }

    .overlay .endMsg {
        font-size: 2rem;
    }
}